body{
    margin: 0;
    font-size: .85em;
    font-family: Roboto, "Monotype Corsiva";
}
a button{
    text-decoration: none;
}
fieldset{
    border: none;
    border-radius: 10px;
}
.container-fluid{
    padding: 0;
}
#navbar{
    background-color: #004A4F;
    color: #000;
}
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-brand:hover{
    background-color: #003033;
    color: #ffffff;
}
.content{
    margin-top: 50px;
    margin-right: 0;
    max-height: 500px;
}
.panel-default{
    width: 98%;
}
.panel-body{
    padding-top: 0;
}
.panel-heading .ptitle{
    color: #B6222A;
}
#lec_content{
    padding-left: 0;
}
#lec_content .well{
    padding: 0;
}
#lec_content .panel-footer{
    background-color: #171717;
}
.login{
    margin: 8% auto;
}
.side{
    border: none;
}
.side .panel-heading{
    background-color: #B6222A;
    color: #ffffff;
}
.side .panel-body{
    padding: 0;
    background-color: #003033;
}
.side .list-group-item{
    padding-left: 10px;
    background-color: transparent;
    border: thin;
    color: #ffffff;
    border-bottom: 1px dotted #004A4F;
    border-radius: 0;
}
.side .list-group-item:hover{
    background-color: #004A4F;
    color: #000000;
}
.col-md-6{
    padding: 0;
}
.form-horizontal .control-label{
    padding-top: 5px;
}
.form-control{
    border-radius: 0;
}
div .form-group{
    width: 100%;
    margin: 7px 0;
}
legend{
    color: #B6222A;
    font-size: 1.2em;
}
label{
    color: #004A4F;
}
tr{
    height: 80%;
}
th{
    color: #ffffff;
    background-color: #B6222A;
}
.side_nav{
    padding: 0;
}
.side_nav li{
    margin: 0;
    list-style: none;
}
#stud_options, #prof_options, #class_options{
    display: none;
}
#stud_options li .list-group-item:hover, #prof_options li .list-group-item:hover, #class_options li .list-group-item:hover{
    background-color: #B6222A;
}
.text{
    width: 10%;
}
.pre-scrollable{
    max-height: 600px;
}