html,body{
    margin: 0;
    font-size: .9em;
    font-family: Arial, "Monotype Corsiva";
    max-height: 650px;
}
a button{
    text-decoration: none;
}
fieldset{
    border: none;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: #004A4F;
    color: #000;
}
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-brand:hover{
    background-color: #003033;
    color: #ffffff;
}
.content{
    margin-top: 50px;
}
.panel, .panel-heading, .panel-body, .panel-footer{
    margin: 0;
    border-radius: 0;
    border: 0;
}
#lec_content .well{
    padding: 0;
}
/*#lec_content .panel-heading{
    background-color: #003033;
    color: #ffffff;
}*/
#lec_content .panel-body{
    padding: 0;
}
#lec_content .row{
    margin: 1% 0;
}
#lec_content .panel-footer{
    background-color: #171717;
}
.login{
    margin: 8% auto;
}
.side{
    border: none;
}
.side .panel-heading{
    background-color: #B6222A;
    color: #ffffff;
}
.side .panel-body{
    padding: 0;
    background-color: #003033;
}
.side .list-group-item{
    background-color: transparent;
    border: thin;
    color: #ffffff;
    border-top: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
}
.side .list-group-item:hover{
    background-color: #004A4F;
    color: #000000;
}
.col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-3, .col-lg-2, .col-lg-1,
.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-3, .col-md-2, .col-md-1,
.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-3, .col-sm-2, .col-sm-1{
    padding-right: 0;
}
.form-control{
    padding: 3px 6px;
    height: 100%;
}
.form-horizontal .control-label{
    padding-top: 5px;
}
th{
    color: #ffffff;
    background-color: #B6222A;
}